USE [MovieDatabase]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Actors]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Actors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Actors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Directors]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Directors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
 CONSTRAINT [PK_dbo.Directors] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[MovieActors]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieActors](
	[Actor_Id] [int] NOT NULL,
	[Movie_Id] [int] NOT NULL,
 CONSTRAINT [PK_dbo.MovieActors] PRIMARY KEY CLUSTERED 
(
	[Movie_Id] ASC,
	[Actor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Movies]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Score] [int] NOT NULL,
	[AirDate] [datetime] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Director_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 4/21/2020 07:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Text] [nvarchar](max) NULL,
	[AuthorName] [nvarchar](max) NULL,
	[Score] [int] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedAt] [datetime] NOT NULL,
	[Movie_Id] [int] NULL,
 CONSTRAINT [PK_dbo.Reviews] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Actors] ON 

INSERT [dbo].[Actors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (1, N'Nika Jamburia', CAST(N'2020-04-18 00:00:00.000' AS DateTime), CAST(N'2020-04-18 00:00:00.000' AS DateTime))
INSERT [dbo].[Actors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (2, N'Brad Pitt', CAST(N'2020-04-18 00:00:00.000' AS DateTime), CAST(N'2020-04-18 00:00:00.000' AS DateTime))
INSERT [dbo].[Actors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (3, N'Kevin Smith', CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Actors] OFF
SET IDENTITY_INSERT [dbo].[Directors] ON 

INSERT [dbo].[Directors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (1, N'Quentin Tarantino', CAST(N'2020-04-18 00:00:00.000' AS DateTime), CAST(N'2020-04-18 00:00:00.000' AS DateTime))
INSERT [dbo].[Directors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (2, N'Kevin Smith', CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime))
INSERT [dbo].[Directors] ([Id], [Name], [CreatedAt], [UpdatedAt]) VALUES (3, N'Nika Jamburia', CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Directors] OFF
INSERT [dbo].[MovieActors] ([Actor_Id], [Movie_Id]) VALUES (1, 1)
INSERT [dbo].[MovieActors] ([Actor_Id], [Movie_Id]) VALUES (2, 1)
INSERT [dbo].[MovieActors] ([Actor_Id], [Movie_Id]) VALUES (3, 2)
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Name], [Score], [AirDate], [CreatedAt], [UpdatedAt], [Director_Id]) VALUES (1, N'Once upon a time in holywood', 0, CAST(N'2019-08-15 00:00:00.000' AS DateTime), CAST(N'2020-04-18 00:00:00.000' AS DateTime), CAST(N'2020-04-18 00:00:00.000' AS DateTime), 1)
INSERT [dbo].[Movies] ([Id], [Name], [Score], [AirDate], [CreatedAt], [UpdatedAt], [Director_Id]) VALUES (2, N'Jay and silent Bob strike back', 8, CAST(N'1998-05-05 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Movies] ([Id], [Name], [Score], [AirDate], [CreatedAt], [UpdatedAt], [Director_Id]) VALUES (3, N'Ertxel tbilisshi', 10, CAST(N'2019-06-01 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([Id], [Text], [AuthorName], [Score], [CreatedAt], [UpdatedAt], [Movie_Id]) VALUES (1, N'magariaaaaa', N'Nikusha varketileli', 8, CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Reviews] ([Id], [Text], [AuthorName], [Score], [CreatedAt], [UpdatedAt], [Movie_Id]) VALUES (2, N'mshvenieri filmi 10/10', N'Vipi soxumski', 9, CAST(N'2020-04-19 00:00:00.000' AS DateTime), CAST(N'2020-04-19 00:00:00.000' AS DateTime), 2)
INSERT [dbo].[Reviews] ([Id], [Text], [AuthorName], [Score], [CreatedAt], [UpdatedAt], [Movie_Id]) VALUES (6, N'ar mamewona', N'vigaca', 7, CAST(N'2020-04-20 14:31:32.793' AS DateTime), CAST(N'2020-04-20 14:31:32.793' AS DateTime), 7)
SET IDENTITY_INSERT [dbo].[Reviews] OFF
ALTER TABLE [dbo].[MovieActors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActorMovies_dbo.Actors_Actor_Id] FOREIGN KEY([Actor_Id])
REFERENCES [dbo].[Actors] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieActors] CHECK CONSTRAINT [FK_dbo.ActorMovies_dbo.Actors_Actor_Id]
GO
ALTER TABLE [dbo].[MovieActors]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActorMovies_dbo.Movies_Movie_Id] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MovieActors] CHECK CONSTRAINT [FK_dbo.ActorMovies_dbo.Movies_Movie_Id]
GO
ALTER TABLE [dbo].[Movies]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Movies_dbo.Directors_Director_Id] FOREIGN KEY([Director_Id])
REFERENCES [dbo].[Directors] ([Id])
GO
ALTER TABLE [dbo].[Movies] CHECK CONSTRAINT [FK_dbo.Movies_dbo.Directors_Director_Id]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Reviews_dbo.Movies_Movie_Id] FOREIGN KEY([Movie_Id])
REFERENCES [dbo].[Movies] ([Id])
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [FK_dbo.Reviews_dbo.Movies_Movie_Id]
GO
